@model IEnumerable<BlackJack.DAL.Entities.Player>
@{
    ViewBag.Title = "Список игроков";
}

    <a asp-action="Register">Добавить пользователя</a>

    <table class="table">
        <tr><th>User Name</th><th>Balance</th><th>Bet</th></tr>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Balance</td>
            <td>@user.Bet</td>
            <td>
                <form asp-action="Delete" asp-controller="User" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-primary" asp-action="AllSteps" asp-route-id="@user.Id">Шаги</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
        }
    </table>

