@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BlackJack.DAL.Entities.Player>
<form method="post" asp-controller="Home" asp-action="StartGame">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Выберите количество ботов</label>
        <select class="form-control" id="countOfBots" name="countOfBots">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <input name="player" id="player" list="players" />
        <datalist id="players">
            @foreach (var user in Model)
            {
                <option value=@user.UserName />
            }
        </datalist>
        <div>
            <input type="password" id="Password" name="Password">
        </div>
        <input type="button" class="btn btn-primary btn-lg" name="SubmitLogin" id="SubmitLogin" value="Login" />
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="SubmitStartGame" name="SubmitStartGame">Start Game</button>
</form>
<div>
    @Html.RouteLink("Просмотреть все игры", new { action = "AllGames", controller = "Home" })
</div>
<div>
    @Html.RouteLink("Просмотреть всех игроков", new { action = "Index", controller = "User" })
</div>
<div>
    @Html.RouteLink("Просмотреть игры игроков", new { action = "AllGames", controller = "User" })
</div>
<div>
    @Html.RouteLink("Просмотреть всех дилеров", new { action = "Index", controller = "Dealer" })
</div>
<div>
    @Html.RouteLink("Просмотреть всех ботов", new { action = "Index", controller = "Bot" })
</div>
<div>
    @Html.RouteLink("Register", new { action = "Register", controller = "User" })
</div>
<input type="hidden" name="SubmitLoginPath" id="SubmitLoginPath" data-submit-Path="@Url.Action("Login", "User")">
<input type="button" name="getDataByLogin" id="getDataByLogin" data-submit-Path="@Url.Action("Test", "User")">